<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<title>Learn Spring | Mustache Template Engine</title>
</head>
<body>
    <div class="container">
        <div class="col-sm-5">
            {{#projects}}
            <h1>{{name}}</h1>
            Tasks:
            <ol>
                {{#tasks}}
                <li>{{name}}: {{description}}</li> {{/tasks}}
            </ol>
            {{/projects}}
        </div>
    </div>
</body>
</html>
