<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Project</title>
</head>
<body>
	<h2>
		Project <span
			th:text="${#strings.capitalize(project.name)}+ '('+${project.id} +')'">Name</span>
	</h2>
	<p>Task List</p>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Due Date</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${project.tasks.empty}">
				<td colspan="2">No Tasks Added Yet</td>
			</tr>
			<tr th:each="task : ${project.tasks}">
				<td><span th:text="${task.name}"> Name </span></td>
				<td><span th:text="${task.dueDate}"> Due Date </span></td>
				<td><span th:text="${task.status}"> Status </span></td>
			</tr>
		</tbody>
	</table>
	<p>
		<a th:href="@{/projects/{id}/add-tasks(id=${project.id})}">Add New Tasks</a>
	</p>

</body>
</html>